body{
font-family:Arial;
background:#f0f0f0;
margin:40px;
}

nav{
background:#f7a6e2;
padding:10px;
margin-bottom:20px;
}

nav a{
margin-right:15px;
text-decoration:none;
font-weight:bold;
}

.content{
display:flex;
gap:40px;
align-items:center;
margin-top:20px;
}

.kuva{
width:100%;
max-width:1000px;
display:block;
margin:auto;
}

.opintojakso{
text-align:center;
margin-top:20px;
margin-bottom:20px;
}